---
- name: install nginx
  ansible.builtin.apt:
    name: nginx
    state: present 
    update_cache: yes

- name: run nginx
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes